<header class="site-header" aria-label="Site header">
  <div class="container-shell header-inner">
    <a class="brand-mark" href="/" aria-label="STAIA home">
      <span class="brand-logo brand-logo--header" aria-hidden="true"></span>
    </a>
    <a class="button primary" href="https://applink.staia.io/ik5ochf">
      <span>Get started <svg class="button-icon" viewBox="0 0 256 256" aria-hidden="true"><path d="M181.66 133.66l-80 80a8 8 0 0 1-11.32-11.32L164.69 128 90.34 53.66a8 8 0 0 1 11.32-11.32l80 80a8 8 0 0 1 0 11.32z"/></svg></span>
      <span aria-hidden="true">Get started <svg class="button-icon" viewBox="0 0 256 256" aria-hidden="true"><path d="M181.66 133.66l-80 80a8 8 0 0 1-11.32-11.32L164.69 128 90.34 53.66a8 8 0 0 1 11.32-11.32l80 80a8 8 0 0 1 0 11.32z"/></svg></span>
    </a>
  </div>
</header>
